@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

$font-family-sans-serif: 'Inter', -apple-system, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$toast-max-width: 16%;

$form-check-input-width: 1.5em;

// $custom-colors: (
//   'indigo': $indigo,
// );
// $theme-colors: map-merge($theme-colors, $custom-colors);

$utilities: (
  'width': (
    property: width,
    class: w,
    values: (
      1: 1%,
      2: 2%,
      3: 3%,
      4: 4%,
      5: 5%,
      10: 10%,
      15: 15%,
      20: 20%,
      25: 25%,
      30: 30%,
      35: 35%,
      40: 40%,
      45: 45%,
      50: 50%,
      55: 55%,
      60: 60%,
      65: 65%,
      70: 70%,
      75: 75%,
      80: 80%,
      85: 85%,
      90: 90%,
      95: 95%,
      96: 96%,
      97: 97%,
      98: 98%,
      99: 99%,
      100: 100%,
      auto: auto,
    ),
  ),
);
